*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 960px;
    margin: 50px auto;
}
.list{
    margin-bottom: 50px;
}
.list-item{
    padding: 20px;
}
.list-item:nth-child(odd){
    background-color: lightgray;
}
.boxes::after{
    content: "";
    display: block;
    clear: both;
}
.box{
    float: left;
    width: 30%;
    height: 200px;
    background-color: rgb(255, 238, 0);
    margin: 0 5% 40px 0;
}
.box:nth-child(3n){
    margin-right: 0;
}
.box:nth-child(4n+1){
    background-color: rgb(255, 145, 0);
}
.box:nth-child(n+7){
    margin-bottom: 0;
}
