* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.flow {
  width: 960px;
  margin: 50px auto;
}
.flow-item {
  float: left;
  position: relative;
  margin-right: 30px;
  padding: 10px;
  width: 300px;
  border: 1px solid lightgray;
}
.flow-item:nth-child(3n) {
  margin-right: 0;
}
.flow-item-step {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  color: white;
  background-color: orange;
}
.flow-item-image {
  width: 280px;
}
.flow-item-headline {
  margin: 10px 0;
}
